.wrapper--sm {
  margin: 50px auto;
  padding: 40px 16px;
  background: $white--1;
  max-width: 650px;
  box-shadow: $shadow--1;
}

.wrapper--md {
  margin: 50px auto;
  background: $white--1;
  max-width: 950px;
  box-shadow: $shadow--1;
}

.wrapper-auth {
  background-image: url("assets/images/bitmap.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}