@import '../../styles/base/variables';

.wrapper--sm wrapper-auth {
  text-align: center;
  padding: 60px 16px 70px;
}

.success-message {
  font-size: 15px;
  margin: 8px 0 36px;
  line-height: 18px;
}

.divider {
  width: 462px;
  height: 1px;
  background: $grey--4;
  margin: 0 auto;
}

.error-title {
  margin-top: 32px;
  font-size: 16px;
  color: $grey--4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.error-message {
  margin-top: 8px;
  color: $grey--4;
  line-height: 18px;
}

.return-to-login {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $grey--3;
  border-radius: 20px;
  background: transparentize($grey--2, 0.95);
}

.login-link-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.material-icon--lg {
  color: $blue--1;
}