<div class="wrapper">
  <mat-icon class="material-icon--lg">check_circle</mat-icon>
  <h1 class="caption--lg">check your email</h1>
  <p class="success-message">
    Check for email to reset password.<br>
    The link is valid for 24 hours.
  </p>
  <div class="divider"></div>
  <h3 class="error-title">Didn’t receive the email?</h3>
  <p class="error-message">
    If the link has not been received in the next few minutes,<br>
    please check your spam folder or request the link to be sent again.
  </p>
</div>

<div class="login-link-wrapper">
  <div class="return-to-login">
    <a routerLink="/login" class="link">Return to Login</a>
  </div>
</div>