<aside class="sidebar" [ngClass]="{'sidebar--open': isMenuOpen}">
  <div class="sidebar-header">
    <img
      [src]="user.photoUrl || DEFAULT_PHOTO_URL"
      alt="User photo"
      class="user-image"
    >
    <div class="user-name ellipsis" [title]="user | name">
      <span class="ellipsis">{{user.firstName}}</span>
      <br>
      <span class="ellipsis">{{user.lastName}}</span>
    </div>
  </div>

  <div class="sidebar-body">
    <mat-icon
      class="sidebar-icon icon-menu"
      (click)="isMenuOpen = !isMenuOpen"
    >
      {{isMenuOpen ? 'close' : 'menu' }}
    </mat-icon>

    <a routerLink="/users" class="sidebar-link-block">
      <mat-icon class="sidebar-icon">people</mat-icon>
      <span class="sidebar-link">User list</span>
    </a>
    <a routerLink="/teachers" class="sidebar-link-block">
      <mat-icon class="sidebar-icon">people_outline</mat-icon>
      <span class="sidebar-link">Teacher list</span>
    </a>
    <a routerLink="/registration" *ngIf="isAdmin" class="sidebar-link-block">
      <mat-icon class="sidebar-icon">person_add</mat-icon>
      <span class="sidebar-link">Add user</span>
    </a>
  </div>

  <div class="sidebar-footer">
    <a routerLink="/profile" class="sidebar-link-block">
      <mat-icon class="sidebar-icon">assignment_ind</mat-icon>
      <span class="sidebar-link">Profile Details</span>
    </a>
    <span (click)="authorizationService.logout()" title="logout" class="sidebar-link-block">
      <mat-icon class="sidebar-icon">exit_to_app</mat-icon>
      <span class="sidebar-link">Log Out</span>
    </span>
  </div>
</aside>
