@import '../../styles/base/variables';

.wrapper--sm {
  text-align: center;
  max-width: 790px;
}

.return-to-login {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $grey--3;
  border-radius: 20px;
  background: transparentize($grey--2, 0.95);
}

.login-link-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.upload-image-field {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  justify-self: flex-end;

  input {
    display: none;
  }

  &:not(.disable-upload):hover .upload-field {
    opacity: 1;
  }
}

.photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-wrapper {
  position: absolute;
  background: transparentize($white--1, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;

  .mat-icon {
    color: $blue--1;
  }
}

.upload-field {
  opacity: 0;
}

.disable-upload {
  cursor: not-allowed;
}

.name-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
}

.photo-block {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.registration-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 15px;

  .mat-form-field {
    width: 290px;
  }
}

.justify-self--end {
  justify-self: flex-end;
}

.additional-info-field {
  width: 610px;
}

.error-wrapper {
  position: relative;
  width: 100%;

  .error-message {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -27px;
    color: $red--1;
    text-align: center;
  }
}
