<h1 mat-dialog-title class="dialog-title">
  <i class="material-icons dialog-icon">edit</i>
  Edit Student
</h1>
<div mat-dialog-content>
  <form
    novalidate
    [formGroup]="userEditForm"
    class="user-edit-form"
  >
    <div>
      <div class="photo-block">
        <label class="upload-image-field" [ngClass]="{'disable-upload': uploadingPhoto | async}">
          <input
            [disabled]="uploadingPhoto | async"
            accept="image/*"
            type="file"
            (change)="uploadPhoto($event.target.files)"
          >
          <img
            class="photo"
            [src]="userEditForm.get('photoUrl').value || DEFAULT_PHOTO_URL"
            alt="Profile photo"
          >
          <div class="upload-wrapper upload-field">
            <mat-icon class="material-icon--lg">file_upload</mat-icon>
          </div>
          <div class="upload-wrapper" *ngIf="uploadingPhoto | async">
            <mat-spinner [diameter]="40" class="spinner"></mat-spinner>
          </div>
        </label>
        <div class="name-fields">
          <mat-form-field>
            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
              maxlength="50"
              required
              autofocus
            />
            <mat-error *ngIf="userEditForm.get('firstName').hasError('required')">
              Field cannot be empty
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
              maxlength="50"
              required
            />
            <mat-error *ngIf="userEditForm.get('lastName').hasError('required')">
              Field cannot be empty
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Middle Name"
              formControlName="middleName"
              maxlength="50"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="user-fields">
        <mat-form-field class="justify-self--end">
          <input
            matInput
            placeholder="Email"
            type="email"
            formControlName="email"
            maxlength="50"
            required
          />
          <mat-error *ngIf="userEditForm.get('email').hasError('required')">
            Field cannot be empty
          </mat-error>
          <mat-error
            *ngIf="!userEditForm.get('email').hasError('required') && userEditForm.get('email').hasError('email')"
          >
            Please enter a valid email
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Date Of Birth"
            type="date"
            formControlName="dateOfBirth"
            maxlength="50"
          />
        </mat-form-field>
        <mat-form-field class="justify-self--end">
          <mat-select
            placeholder="Course"
            formControlName="course"
            required
          >
            <mat-option [value]="COURSES.COURSE_1">{{COURSES.COURSE_1}}</mat-option>
            <mat-option [value]="COURSES.COURSE_2">{{COURSES.COURSE_2}}</mat-option>
            <mat-option [value]="COURSES.COURSE_3">{{COURSES.COURSE_3}}</mat-option>
            <mat-option [value]="COURSES.COURSE_4">{{COURSES.COURSE_4}}</mat-option>
            <mat-option [value]="COURSES.COURSE_5">{{COURSES.COURSE_5}}</mat-option>
          </mat-select>
          <mat-error *ngIf="userEditForm.get('course').hasError('required')">
            Field cannot be empty
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Group"
            formControlName="group"
            maxlength="50"
            required
          />
          <mat-error *ngIf="userEditForm.get('group').hasError('required')">
            Field cannot be empty
          </mat-error>
        </mat-form-field>
        <mat-form-field class="justify-self--end">
          <input
            matInput
            placeholder="Phone Number"
            formControlName="phoneNumber"
            maxlength="50"
          />
        </mat-form-field>
      </div>
      <mat-form-field class="additional-info-field">
        <textarea
          matInput
          matTextareaAutosize
          matAutosizeMaxRows="8"
          type="text"
          placeholder="Additional Info"
          formControlName="additionalInfo"
          maxlength="800"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="footer">
  <button
    class="button"
    (click)="dialogRef.close()"
  >Cancel</button>
  <button
    class="button"
    [disabled]="userEditForm.invalid"
    (click)="userEditForm.valid && save(userEditForm.value)"
  >Save</button>
</div>