<div class="wrapper--sm wrapper-auth">
  <h1 class="caption--lg">Reset Password</h1>
  <h3 class="caption--sm">Enter your email address and a link to <br> reset your password will be sent</h3>
  <form
    novalidate
    class="reset-password-form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPasswordForm.valid && reset(resetPasswordForm.value)"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
        maxlength="50"
        autofocus
      />
      <mat-error
        *ngIf="!resetPasswordForm.get('email').hasError('required') && resetPasswordForm.get('email').hasError('email')"
      >
        Please enter a valid email
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
        Field cannot be empty
      </mat-error>
    </mat-form-field>
    <div class="error-wrapper" [hidden]="!errorMessage">
      <div class="error-message">{{errorMessage}}</div>
    </div>
    <div class="spinner-wrapper">
      <div *ngIf="loading; else resetButton" class="spinner-overlay">
        <mat-spinner [diameter]="51" class="spinner"></mat-spinner>
      </div>
      <ng-template #resetButton>
        <button class="button" type="submit">Reset</button>
      </ng-template>
    </div>
  </form>
</div>

<div class="login-link-wrapper">
  <div class="return-to-login">
    <a routerLink="/login" class="link">Return to Login</a>
  </div>
</div>
