$black--1: #000000;

$white--1: #ffffff;

$grey--1: #EEF2F5;
$grey--2: #464957;
$grey--3: #9ba5b6;
$grey--4: #dbdcdf;
$grey--4: #768196;
$grey--5: #fafbfb;
$grey--6: #bbc0cb;

$red--1: #fc6061;

$blue--1: #2459a2;
$blue--2: #182e6a;
$blue--3: #29abe1;

$shadow--1: 0 2px 4px 0 transparentize($grey--2, 0.8);